<router-outlet></router-outlet>
<mat-card class="containerWidth" *ngIf="route.children.length === 0" >
    <mat-card-title>Inversiones Registradas </mat-card-title>
    <div class="example-header">
        <mat-form-field>
            <input matInput placeholder="Buscar Inversión" (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
    </div>
    

    <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="nombre">
            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{fechaFormat(row.fecha)}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef> Total Inversión </mat-header-cell>
            <mat-cell  *matCellDef="let row"> {{fortmat(row.totalInversion)}} </mat-cell>
        </ng-container> 
    
        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
            <mat-cell  *matCellDef="let row">
                <button mat-mini-fab color="primary" (click)="openDialog(row.id)" aria-label="Detalle">
                    <mat-icon>filter_list</mat-icon>
                </button>
                <button mat-mini-fab color="accent" (click)= "eliminar(row.id)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" ></mat-paginator>
</mat-card>

<div class="containerWidth">
    <button mat-fab color="accent" style="float: right;"  routerLink="/inversion/nuevo" *ngIf="route.children.length === 0" >
        <mat-icon>create</mat-icon>
    </button>
</div>