<div class="example-container">
  <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button  (click)= "sidenav.toggle()">
          <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
          <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>

      <h1 class="example-app-name"  routerLink="/" routerLinkActive="router-link-active" >FrutiHelados</h1>
      <span class="example-spacer"></span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon >more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/perfil">
              <mat-icon>account_box</mat-icon>
              <span>Mi Perfil</span>
          </button>

          <button mat-menu-item (click)="sidenav.opened = false">
              <mat-icon>exit_to_app</mat-icon>
              <span>Cerrar Sesión</span>
          </button>
      </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px;">
        <button mat-menu-item (click)= "sidenav.toggle()"  routerLink="/venta" style="cursor: pointer;">
            <mat-icon>shopping_cart</mat-icon>
            <span>Venta</span>
        </button>

        <button mat-menu-item (click)= "sidenav.toggle()"  routerLink="/deuda" style="cursor: pointer;">
            <mat-icon>money_off</mat-icon>
            <span>Gestión Deudores</span>
        </button>

        <button mat-menu-item (click)= "sidenav.toggle()" routerLink="/inversion" style="cursor: pointer;">
            <mat-icon>library_books</mat-icon>
            <span>Registrar Inversión</span>
        </button>
        
        <button mat-menu-item (click)= "sidenav.toggle()"  routerLink="/reportes" style="cursor: pointer;">
            <mat-icon>search</mat-icon>
            <span>Consultar Reportes</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>

        <mat-card class="containerWidth" *ngIf="route.children.length === 0">
          <img mat-card-image  src="assets/fruto1.png" >
        </mat-card>


    </mat-sidenav-content>
</mat-sidenav-container>
</div>